{{template "base" .}} 

{{define "content"}} 
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is hompage</h1>
                <a href="/about">About</a>
            </div>
            <p>this is a paragraph </p>
            <p>second paragraph </p>
            <p>third paragraph </p>
            <p>fourth paragraph </p>
            <p>fifth paragraph </p>
            <p> this is from tempalte {{ index .StringMap "test"}} </p>
        </div>
    </div>
{{end}}

